<div class="ui feed">
  <% @articles.each do |article| %>
  <div class="event">
    <div class="label">
      <img src="<%=article.site_info.favicon_url %>">
    </div>
    <div class="content">
      <div class="summary">
        <a href="<%=article.site_info.url %>"><%=article.site_info.title %></a> <%= article.title %>
        <div class="date">
          3 days ago
        </div>
      </div>
      <div class="extra text">
        <%=raw article.description  %>
      </div>
      <div class="meta">
        <a class="like">
          <i class="like icon"></i> 5 Likes
        </a>
      </div>
    </div>
  </div>
  <% end %>
</div>

<script type="text/javascript">
  $(function(){
    $(document).on('page:update', function(event) {
      debugger
    });  
  })
</script>