<!DOCTYPE html>
<html>
  <head>
    <title>BookmarksRss</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= action_cable_meta_tag %>
  </head>

  <body>
    <div class="ui fixed inverted main menu">
      <div class="ui container">
        <a class="launch icon item sidebar_toggle">
          <i class="content icon"></i>
        </a>
        <div class="item">
          <a href="<%=articles_path %>"><%=current_user.email %></a>
        </div>
        
        <div class="right menu">
          <div class="vertically fitted borderless item">
          </div>          
        </div>
      </div>
    </div>
    <div class="ui sidebar inverted vertical menu">
      <% current_user.site_infos.each do |site| %>
      <a href="<%=articles_path %>?site_id=<%=site.id %>" class="item">
        <%=site.title %><i href="<%=site_info_path(site) %>" data-title="<%=site.title %>" class="remove bookmark icon"></i>
      </a>
      <% end %>
    </div>
    <div class="pusher">
      <div class="ui container">
      <%= yield %>
      </div>
    </div>
    
  </body>
</html>
